/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   body{outline: 0;}

}

@media(width:992px) {
    body{outline: 0;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    body{outline: 0;}
}



@media (width: 768px) {
    body{outline: 0;}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    body{outline: 0;}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{outline: 0;}
}

@media(width:480px) {
    body{outline: 0;}
}

@media(width:320px) {
    body{outline: 0;}
}